<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.css">
</head>
<body>
<div class="container">
<header>
    <h1><%= title %></h1>
</header>

<ul class="nav nav-pills">
    <li><a title="获取比赛结果" href="/getdata">获取昨日比赛结果</a></li>
    <li><a title="查看往期比赛数据" href="/checkdata">查看往期比赛数据</a></li>
    <li><a title="查看下期比赛" href="/">查看下期比赛</a></li>
</ul>

<article>